@import "tailwindcss";

/* Add custom animation definitions via @theme */
@theme {
  /* define custom animations */
  --animate-slide-in-right: slide-in-right 0.7s ease-in-out;
  --animate-slide-in-left: slide-in-left 0.7s ease-in-out;

  @keyframes slide-in-right {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slide-in-left {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
}

@theme {
  --color-background: white;
  --color-foreground: black;
  --font-sans: system-ui;
}

